<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

<servlet>
  <servlet-name>unshitify</servlet-name>
  <servlet-class>apolzin.unshitify.Unshitify</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>unshitify</servlet-name>
   <url-pattern>/unshitify</url-pattern>
</servlet-mapping>
<servlet>
  <servlet-name>unshorten</servlet-name>
  <servlet-class>apolzin.unshitify.Unshorten</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>unshorten</servlet-name>
   <url-pattern>/unshorten</url-pattern>
</servlet-mapping>
</web-app>
